<div class="dialog" [ngStyle]="styles.dialog">
  <mat-form-field [ngStyle]="styles.fields" appearance="fill">
    <mat-label>FirstName</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field [ngStyle]="styles.fields" appearance="fill">
    <mat-label>LastName</mat-label>
    <input matInput>
  </mat-form-field>
  <br>
  <mat-form-field [ngStyle]="styles.fields" appearance="fill">
    <mat-label>Education</mat-label>
    <mat-select>
      <mat-option value="one">B.E/B.Tech</mat-option>
      <mat-option value="two">Medicine</mat-option>
      <mat-option value="two">Commerce</mat-option>
      <mat-option value="one">HSC</mat-option>
    </mat-select>
  </mat-form-field>
  <mat-form-field [ngStyle]="styles.fields" appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker">
    <mat-hint>MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  
</div>