<div [ngStyle]="styles.outerdiv"  >
    <div [ngStyle]="styles.div" >
        <mat-card [ngStyle]="styles.imgcard">
            <mat-card-content>
                <img [ngStyle]="styles.img" src="http://localhost/LetMeShop/{{details.image}}" alt="image">
            </mat-card-content>
        </mat-card>
        <mat-card [ngStyle]="styles.card">
            <mat-card-content [ngStyle]="styles.content">{{details.description}}</mat-card-content>
            <mat-card-footer [ngStyle]="styles.footer">
                <h2>{{details.name}}</h2>
                <p>Price: {{details.price | currency: 'USD'}}</p>
            </mat-card-footer>
        </mat-card>
    </div>
    <div>
        <mat-card [ngStyle]="styles.form">
            <mat-card-header>
                <h2 [ngStyle]="styles.h2">Review please!</h2>
            </mat-card-header>
            <mat-card-content>
                <form  [formGroup]="Form"  (submit)="postReview()">
                    <textarea rows=4 cols=30 formControlName="message" [ngStyle]="styles.textarea"></textarea>
                    <div [ngStyle]="styles.error"*ngIf='Form.controls.message.hasError("required")'>Should be filled</div>
                    <div [ngStyle]="styles.error" *ngIf='Form.controls.message.hasError("minlength")'>Atleast 15 characters long</div>
                    <button type="submit"  [disabled]="!Form.valid" [ngStyle]="styles.button">Post my review</button>
                </form>
            </mat-card-content>
        </mat-card>
    </div>    
</div>
<app-reviews [thisid]="id"></app-reviews>

