<div class="footer-box">
    <div class="row">
        <div class="col-4">
            <div class="row">
                <div class="col">
                    <!--icon-->
                    <div class="logo">
                        <img src="http://localhost/assignment6-images/twitter.png" alt="twitter_logo" />
                    </div>
                </div>
                <div class="col">
                    <h2>Twitter Marketing</h2>
                    <p>A Twitter marketing strategy is a plan centered around creating, publishing, and distributing content for your buyer personas, audience, and followers through Twitter. </p>
                </div>
            </div>
        </div>
    </div>
</div>
